*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
}

.header{
    background-color: black;
    border:1px solid black;
    border-radius: 30px;
    width: 1120px;
    height: 500px;
    margin-top: 30px;
    margin-left: 3cm;
    margin-right: 6cm;
    margin-bottom: 1cm;
}

.header-box{
display: flex;


}
.header-txt{
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 3cm;
}
h1{
    color: white;
    font-size: 60px;
}
p{
    color: white;
}

.button{
width: 4.5cm;
height: 1.5cm;
font-size: 20px;
background-color:  #FF5959;
border-radius: 10px;

}

.button a{
    text-decoration:none;
    list-style: none;
    color:white;
}

.header-img{
    margin-top: 1cm;
}
.header-img img{
    width:365px;
    height: 460px;
  padding-right: 1cm;

}

.button i{
    color: white;
    padding-left: 10px;
}

.blogs{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 30px;
}

.blog1{
    border:1px solid rgb(54, 209, 209)
    width:290px;
    height:290px;
    box-shadow:0px 10px 15px -2px rgba(0,0,0,0.1);
}
.comment{
    display: flex;
    align-items: center;
}
.comment img {
    margin-left: 15px;
}
.comment p{
    color: black;
    

    
}


.section2{
    display: flex;
}

.blogbtn{
    border: 1px solid rgb(7, 7, 7);
    background-color: black;
    width: 280px ;
    height: 250px;
    border-radius: 8px;
    margin-left: 3cm;
    text-align: center;
   
}

.blogbtn1{
    margin-top: 1cm;
}

.blogbtn2{
    margin-top: 1cm;
    padding-left: 50px 10px;
}
.blogbtn3{
    margin-top: 1cm;
}

.blogbtn .blogbtn1 a {

    color: black;
    border: 1px solid wheat;
    text-decoration: none;
    background-color: white;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 6px;

}

.blogbtn .blogbtn2 a {

    color: black;
    border: 1px solid wheat;
    text-decoration: none;
    background-color: white;
    padding: 10px 42px;
    margin-top: 20px;
    border-radius: 6px;

}

.blogbtn .blogbtn3 a {

    color: rgb(255, 255, 255);
    border: 1px solid #FF5959 ;
    text-decoration: none;
    background-color: rgb(236, 16, 16);
    padding: 10px 60px;
    margin-top: 20px;
    border-radius: 6px;
}




.footer{
    margin-top: 3cm;
    height: 300px;
    background-color: black;
    padding-bottom: 3cm;
    border: 1px solid black;
    
}

.footer .footer-h1 h1{
    font-size: 30px;
    margin-top: 1cm;
    margin-top: 2cm;
    margin-bottom: 1cm;
    text-align: center;
    
}

.footer hr  {

    margin-left: 6cm ;
    margin-right: 6cm ;
    margin-bottom: 1cm;
    border-color: rgb(102, 97, 97);
}

.footer-nav{
    color: white;
}

.footer-nav nav ul {
    display: flex;
    padding-left: 8cm;
    padding-right:6cm;
    
}
.footer-nav nav ul li{
    padding: 10px 10px;
    list-style: none;
    text-decoration: none;
}