*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
}

.header{
    background-color: black;
    border:1px solid black;
    border-radius: 30px;
    width: 950px;
    height: 500px;
    margin-top: 30px;
    margin-left: 5cm;
    margin-right: 6cm;
}

.header-box{
display: flex;


}
.header-txt{
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 3cm;
}
h1{
    color: white;
    font-size: 60px;
}
p{
    color: white;
}

.button{
width: 4.5cm;
height: 1.5cm;
font-size: 20px;
background-color:  #FF5959;
border-radius: 10px;

}

.button a{
    text-decoration:none;
    list-style: none;
    color:white;
}

.header-img{
    margin-top: 1cm;
}
.header-img img{
    width:365px;
    height: 460px;
  padding-right: 1cm;

}

.button i{
    color: white;
    padding-left: 10px;
}

.footer{
    margin-top: 3cm;
    height: 300px;
    background-color: black;
    padding-bottom: 3cm;
    border: 1px solid black;
    
}

.footer .footer-h1 h1{
    font-size: 30px;
    margin-top: 1cm;
    margin-top: 2cm;
    margin-bottom: 1cm;
    text-align: center;
    
}

.footer hr  {

    margin-left: 6cm ;
    margin-right: 6cm ;
    margin-bottom: 1cm;
    border-color: rgb(102, 97, 97);
}

.footer-nav{
    color: white;
}

.footer-nav nav ul {
    display: flex;
    padding-left: 8cm;
    padding-right:6cm;
    
}
.footer-nav nav ul li{
    padding: 10px 10px;
    list-style: none;
    text-decoration: none;
}